<div *ngIf="!pokemon" class="centered">
    <mat-spinner></mat-spinner>
</div>
<div *ngIf="pokemon">
    <div fxLayout="column" class="pokemon-detail" fxLayoutWrap fxLayoutAlign="center center">
        <h2>{{pokemon.name}} details</h2>
        <img src='{{pokemon.image}}' alt='{{pokemon.name}} image'>
        <ul>
            <li>
                <h4>Classification : {{pokemon.classification}}</h4>
            </li>
            <li>
                <h4>FleeRate : {{pokemon.fleeRate}}</h4>
            </li>
            <li>
                <h4>MaxCP : {{pokemon.maxCP}}</h4>
            </li>
            <li>
                <h4>MaxHP : {{pokemon.maxHP}}</h4>
            </li>
        </ul>
        <button mat-raised-button color="white" (click)="goBackToList()" matRipple>Back</button>
    </div>
</div>