<!-- <p>pokemon works!</p> -->
<div *ngIf="!pokemons?.length" class="centered">
    <!-- <h2>Loading your pokemons... Please Wait!</h2> -->
    <mat-spinner></mat-spinner>
</div>
<!-- <ul *ngIf="pokemons?.length">
    <li *ngFor='let each_pokemon of pokemons'>
        <h3>{{each_pokemon.name}}</h3>
        <a routerLink='/pokemondetail/{{each_pokemon.name}}'>
            <img src='{{each_pokemon.image}}' alt='{{each_pokemon.name}} image'>
        </a>
    </li>
</ul> -->
<div *ngIf="pokemons?.length">
    <div class="pokemoncard" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center">
        <mat-card class="example-card" fxFlex="20%" *ngFor='let each_pokemon of pokemons'>
            <mat-card-title>{{each_pokemon.name}}</mat-card-title>

            <img mat-card-image src='{{each_pokemon.image}}' alt='{{each_pokemon.name}} image' />

            <mat-card-actions>
                <a routerLink='/pokemondetail/{{each_pokemon.name}}'>
                    <button mat-raised-button matRipple>Know More!</button>
                </a>
            </mat-card-actions>

        </mat-card>
    </div>

</div>