.example-card {
  max-width: 400px;
  padding: 20px;
  margin: 15px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
  max-width: 200px;
  max-height: 200px;
  padding: 10px;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
