h1 {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.searchbar {
  margin: 2%;
  /* padding: 1%; */
}

.search-form {
  width: 60%;
  margin: 0.5%;
}

.searchbar button {
  margin: 0.75%;
}

.pokemon-dropdown {
  margin: 0.5%;
}

.pokemon-dropdown a {
  padding: 0.5%;
}
