<h1>{{title}}</h1>
<div fxLayout="column" fxLayoutWrap fxLayoutAlign="center">
    <div fxLayout="row" class="searchbar" fxLayoutAlign="center">
        <mat-form-field class="search-form">
            <input matInput [(ngModel)]="pokemon_name" placeholder="Search Pokemon's Name" type="text" />

        </mat-form-field>
        <a routerLink='/pokemondetail/{{pokemon_name}}'>
            <button mat-raised-button color="primary" matRipple>Search</button>
        </a>
    </div>

    <div fxLayout="row" class="pokemon-dropdown" fxLayoutAlign="center">
        <form class="formformat">
            <mat-form-field>
                <mat-select placeholder="Number of Pokemons" [(ngModel)]="selectedValue" name="pokemoncount">
                    <mat-option *ngFor="let pokemoncount of pokemonCount" [value]="pokemoncount">
                        {{pokemoncount}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
        <a routerLink='/pokemon/{{selectedValue}}'>
            <button mat-raised-button color="primary" matRipple>View Pokemons</button>
        </a>
    </div>
</div>
<router-outlet></router-outlet>